/* child.css */
#container {
  width: 960px;
  margin: 0 auto;
}

.contents {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
}

/* 모든 자식요소중 첫번째 자식 요소 */
.contents :first-child {
  /* nth-child(1) */
  color: blue;
}

/* 모든 자식요소중 n번째 자식 요소 */
/* n=0 대입 */
.contents :nth-child(2) {
  background-color: yellow;
}

/* 2n(짝수) - 규칙적으로 하고 싶을때 */
/* .contents :nth-child(2n){
  background-color: yellow;
} */
.contents :last-child {
  background-color: greenyellow;
}

/* p:nth-od-type(): p태그중에서 2번째 선택 */
.contents p:nth-of-type(2) {
  color: red;
}

/* 본문 내용2를 녹색으로 스타일하기 */
/* .contents :nth-child(5){    
  color: green;
} */
/* 경우의 수1 */
.contents h2:nth-of-type(2) {
  color: green;
}

/* 경우의 수2 */